@import '../../styles.sass'
h1
  text-align: center
  padding: 20px 0

h3
  text-align: center
  padding: 20px 200px

.content-container
  display: flex
  width: 100%
  gap: 5px
  height: 400px

  .form-container
    width: 60%
    height: 100%
    
    .buttons-container
      height: 20%
      display: flex
      gap: 10px
      justify-content: space-between
      background-color: $very-light-gray
      border: $light-gray solid 3px
      border-radius: 5px

      .qr-type-buttons
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        gap: 5px
        max-width: 100%
          
        .button-option
          display: flex
          align-items: center
          gap: 10px
          cursor: pointer
          padding: 20px 12px
          background-color: transparent
          border: none
          color: $black
          font-size: 1rem
          transition: background-color 0.3s ease

          i
            color: $medium-dark-gray
            scale: 1.2

          &:hover, &.active
            background-color: rgba(0, 0, 0, 0.1)
    
    .fields-container
      height: 80%
      display: flex
      flex-direction: column
      padding: 10px 20px 20px 20px
      margin-top: 5px
      background-color: $very-light-gray
      border: $light-gray solid 3px
      border-radius: 5px

      .input-field
        width: 50%
        margin: 15px
        padding: 10px
        border-bottom: 2px solid $violet-8
        border-top: none
        border-left: none
        border-right: none
        resize: vertical
        font-size: 1rem
        background-color: transparent
        outline: none
        transition: border-bottom-color 0.5s ease, color 0.5s ease, transform 0.5s ease

        &:focus
          border-bottom-color: $violet-5

      p
        margin: 15px
        font-size: 1rem

      textarea
        min-height: 80px
        max-height: 150px
        width: 50%
        margin: 15px
        padding: 10px
        border: 2px solid $violet-8
        border-radius: 5px
        resize: vertical
        font-size: 1rem
        outline: none
        transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease

        &:focus
          background-color: $mid-tone-gray


  .result-container
    height: 100%
    width: 40%
    padding: 20px
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    gap: 20px
    background-color: $very-light-gray
    border: $light-gray solid 3px
    border-radius: 5px
    
    img
      width: 250px
      height: 250px
    
    .qr-buttons-container
      display: flex
      gap: 40px
  
      .qr-button
        padding: 10px
        border: 2px solid $violet-8
        border-radius: 5px
        cursor: pointer
        scale: 1.3