<h1>QR Code Generator</h1>
<div class="content-container">
    <div class="form-container">
        <div class="buttons-container">
            <div class="qr-type-buttons">
                <button *ngFor="let type of qrTypes" class="button-option"
                    [ngClass]="{ 'active': selectedType === type.label }" (click)="selectOption(type.label)">
                    <i class="icon" [ngClass]="type.value"></i>
                    <span>{{ type.label }}</span>
                </button>
            </div>
            <button class="generate-button" (click)="generateQRCode()">
                Generate QR
            </button>
        </div>
        <div class="fields-container">
            <div *ngIf="selectedType === 'Link'">
                <input class="input-field" [(ngModel)]="qrContent.url" placeholder="Enter URL" />
            </div>

            <!-- Email -->
            <div *ngIf="selectedType === 'Email'">
                <input class="input-field" [(ngModel)]="qrContent.to" placeholder="To" />
                <input class="input-field" [(ngModel)]="qrContent.subject" placeholder="Subject" />
                <textarea class="input-field" [(ngModel)]="qrContent.message" placeholder="Message"></textarea>
            </div>

            <!-- Text -->
            <div *ngIf="selectedType === 'Text'">
                <textarea class="input-field" [(ngModel)]="qrContent.text" placeholder="Enter Text"></textarea>
            </div>

            <!-- Call -->
            <div *ngIf="selectedType === 'Call'">
                <input class="input-field" [(ngModel)]="qrContent.countryCode" placeholder="Country Code" />
                <input class="input-field" [(ngModel)]="qrContent.phoneNumber" placeholder="Phone Number" />
            </div>

            <!-- SMS -->
            <div *ngIf="selectedType === 'Sms'">
                <input class="input-field" [(ngModel)]="qrContent.countryCode" placeholder="Country Code" />
                <input class="input-field" [(ngModel)]="qrContent.phoneNumber" placeholder="Phone Number" />
                <textarea class="input-field" [(ngModel)]="qrContent.message" placeholder="Message"></textarea>
            </div>

            <!-- WhatsApp -->
            <div *ngIf="selectedType === 'WhatsApp'">
                <input class="input-field" [(ngModel)]="qrContent.countryCode" placeholder="Country Code" />
                <input class="input-field" [(ngModel)]="qrContent.phoneNumber" placeholder="Phone Number" />
                <textarea class="input-field" [(ngModel)]="qrContent.message" placeholder="Message"></textarea>
            </div>
        </div>
    </div>
    <div class="image-container" *ngIf="qrCodeImage">
        <img [src]="qrCodeImage" alt="Generated QR Code">
        <button class="download-button" (click)="downloadQRCode()">
            <i class="fas fa-download"></i>
        </button>
    </div>      
</div>