<h1>{{ 'Title' | translate }}</h1>
<h3>{{ 'Subtitle' | translate }}</h3>
<div class="content-container">
    <div class="form-container">
        <div class="buttons-container">
            <div class="qr-type-buttons">
                <button *ngFor="let type of qrTypes" class="button-option"
                    [ngClass]="{ 'active': selectedType === type.label }" (click)="selectOption(type.label)">
                    <i class="icon" [ngClass]="type.value"></i>
                    <span>{{ type.label }}</span>
                </button>
            </div>
        </div>
        <div class="fields-container">
            <div *ngIf="selectedType === 'Link' || selectedType === 'firstLink'">
                <p>{{ 'LinkLabel' | translate }}</p>
                <input class="input-field" [(ngModel)]="qrContent.url" [placeholder]="'EnterUrl' | translate" (input)="generateQRCode()"/>
            </div>
            <!-- Email -->
            <div *ngIf="selectedType === 'Email'">
                <p>{{ 'EmailLabel' | translate }}</p>
                <input class="input-field" [(ngModel)]="qrContent.to" [placeholder]="'To' | translate" (input)="generateQRCode()"/>
                <input class="input-field" [(ngModel)]="qrContent.subject" [placeholder]="'Subject' | translate" (input)="generateQRCode()"/>
                <textarea class="text-area-field" [(ngModel)]="qrContent.message" [placeholder]="'Message' | translate" (input)="generateQRCode()"></textarea>
            </div>

            <!-- Text -->
            <div *ngIf="selectedType === 'Text'">
                <p>{{ 'TextLabel' | translate }}</p>
                <textarea class="text-area-field" [(ngModel)]="qrContent.text" [placeholder]="'Text' | translate" (input)="generateQRCode()"></textarea>
            </div>

            <!-- Call -->
            <div *ngIf="selectedType === 'Call'">
                <p>{{ 'CallLabel' | translate }}</p>
                <input class="input-field" [(ngModel)]="qrContent.countryCode" [placeholder]="'CountryCode' | translate" (input)="generateQRCode()"/>
                <input class="input-field" [(ngModel)]="qrContent.phoneNumber" [placeholder]="'PhoneNumber' | translate" (input)="generateQRCode()"/>
            </div>

            <!-- SMS -->
            <div *ngIf="selectedType === 'Sms'">
                <p>{{ 'SmsLabel' | translate }}</p>
                <input class="input-field" [(ngModel)]="qrContent.countryCode" [placeholder]="'CountryCode' | translate" (input)="generateQRCode()"/>
                <input class="input-field" [(ngModel)]="qrContent.phoneNumber" [placeholder]="'PhoneNumber' | translate" (input)="generateQRCode()"/>
                <textarea class="text-area-field" [(ngModel)]="qrContent.message" [placeholder]="'Message' | translate" (input)="generateQRCode()"></textarea>
            </div>

            <!-- WhatsApp -->
            <div *ngIf="selectedType === 'WhatsApp'">
                <p>{{ 'WhatsappLabel' | translate }}</p>
                <input class="input-field" [(ngModel)]="qrContent.countryCode" [placeholder]="'CountryCode' | translate" (input)="generateQRCode()"/>
                <input class="input-field" [(ngModel)]="qrContent.phoneNumber" [placeholder]="'PhoneNumber' | translate" (input)="generateQRCode()"/>
                <textarea class="text-area-field" [(ngModel)]="qrContent.message" [placeholder]="'Message' | translate" (input)="generateQRCode()"></textarea>
            </div>
        </div>
    </div>
    <div class="result-container">
        <div class="image-container">
            <img [src]="qrCodeImage" alt="Generated QR Code" *ngIf="qrCodeImage">
            <img src="../../assets/images/qr-code-test.png" alt="QR Code test image" *ngIf="!qrCodeImage">
        </div>
        <div class="qr-buttons-container">
            <button class="qr-button" (click)="downloadQRCode()" *ngIf="qrCodeImage">
                <i class="fas fa-download"></i>
            </button>
            <button class="qr-button" (click)="copyToClipBoard()" *ngIf="qrCodeImage">
                <i class="fas fa-clipboard"></i>
            </button>
        </div>
    </div>      
</div>