<div class="page-container">
  <div class="nav-bar-container">
      <img src="../assets/images/logo-qr-generator-blanco.png" alt="Logo" class="logo" />
    <div class="nav-buttons">
      <div class="custom-dropdown">
        <div class="selected-language" (click)="toggleDropdown()">
          <i class="fas fa-globe"></i>
          <span>{{ selectedLanguage | translate }}</span>
        </div>
        <div class="dropdown-options" *ngIf="isDropdownOpen">
          <div *ngFor="let lang of appLanguages" (click)="changeLanguage(lang.code)">
            {{ lang.label }}
          </div>
        </div>
      </div>
      <div class="user-buttons">
        <button class="sign-in-button">
          {{ 'SignIn' | translate }}
        </button>
        <button class="sign-up-button">
          {{ 'SignUp' | translate }}
        </button>
      </div>
    </div>
  </div>
  <div class="content">
    <app-qr-generator></app-qr-generator>
  </div>
    <div class="footer-legend">
      <p>{{ 'Footer1' | translate }}<a href="https://angular.dev/" target="_blank">Angular</a></p>
      <p>&copy; {{ 'Footer2' | translate }}</p>
  </div>
</div>
  